Task 3 Amna Mahboob Elevvo
Data Cleaning and Insight Generation from Survey Data 
Description:
 Dataset: Kaggle Data Science Survey 2017-2021 

 Work with real-world survey data containing missing values, duplicates, and inconsistent formatting

 Clean the dataset and apply label encoding or mapping for categorical variables

 Extract meaningful insights about respondent (a person who answered the survey ) behavior or preferences
 
 Create a summary dashboard or chart showing top 5 insights

Step 1 - define insights we want

TOP 5 INSIGHTS TO LOOK AT


1.Look at the amount of time it took each age bracket to answer the survey - scatter plot

2.Look at the ratio of men to women in each age group - bar chart

3.Look at the number of people who answered based on their location to the ratio of age group - heatmap of world map

4.See the most frequent job title based on the age bracket - stack bar

5.See what was the most frequent programming language used in a daily basis - pie chart 

Goals:

1.Generate a report summarizing all of the statistics found

2.Create a dashboard summarizing all of the findings in a visually appealing manner

step 2 - load and clean data

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("archive (2)\kaggle_survey_2017_2021.csv")

df.head(10)

<>:1: SyntaxWarning: invalid escape sequence '\k'
<>:1: SyntaxWarning: invalid escape sequence '\k'
C:\Users\amahb\AppData\Local\Temp\ipykernel_36968\4237443658.py:1: SyntaxWarning: invalid escape sequence '\k'
  df = pd.read_csv("archive (2)\kaggle_survey_2017_2021.csv")
C:\Users\amahb\AppData\Local\Temp\ipykernel_36968\4237443658.py:1: DtypeWarning: Columns (8,9,10,11,12,13,14,15,16,17,18,20,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("archive (2)\kaggle_survey_2017_2021.csv")

,Year,Duration (in seconds),Q1_What_is_your_age_(years)?,Q2_What_is_your_gender?,Q3_In_which_country_do_you_currently_reside?,Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?,Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired),Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?,Q7_Part_1_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Python,Q7_Part_2_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - R,...,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_9,Q38_B_Part_11,Q38_B_OTHER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,2021.0,910.0,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021.0,784.0,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021.0,924.0,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,NaN,...,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN
4,2021.0,575.0,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021.0,781.0,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021.0,1020.0,25-29,Woman,India,I prefer not to answer,Currently not employed,< 1 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,Guild.ai,NaN,NaN,NaN,NaN
7,2021.0,141.0,18-21,Woman,India,Some college/university study without earning ...,Student,1-3 years,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021.0,484.0,30-34,Man,India,Bachelorâ€™s degree,Data Scientist,5-10 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021.0,1744.0,22-24,Man,Russia,Bachelorâ€™s degree,Currently not employed,3-5 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
new_df = df[['Year','Duration (in seconds)', 'Q1_What_is_your_age_(years)?','Q2_What_is_your_gender? ','Q3_In_which_country_do_you_currently_reside?','Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?','Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired)','Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?', 'Q7_Part_1_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Python','Q7_Part_2_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - R','Q7_Part_3_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - SQL', 'Q7_Part_4_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C','Q7_Part_5_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C++','Q7_Part_6_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Java','Q7_Part_7_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Javascript', 'Q7_Part_8_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Julia', 'Q7_Part_9_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Swift','Q7_Part_10_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Bash','Q7_Part_11_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - MATLAB','Q7_Part_12_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - None','Q7_Part_13_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Other']]
new_df.to_csv('new_data.csv', index=False)
new_df.head(5)

,Year,Duration (in seconds),Q1_What_is_your_age_(years)?,Q2_What_is_your_gender?,Q3_In_which_country_do_you_currently_reside?,Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?,Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired),Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?,Q7_Part_1_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Python,Q7_Part_2_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - R,...,Q7_Part_4_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C,Q7_Part_5_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C++,Q7_Part_6_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Java,Q7_Part_7_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Javascript,Q7_Part_8_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Julia,Q7_Part_9_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Swift,Q7_Part_10_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Bash,Q7_Part_11_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - MATLAB,Q7_Part_12_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - None,Q7_Part_13_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Other
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021.0,910.0,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021.0,784.0,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,NaN,NaN,...,C,C++,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021.0,924.0,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,NaN,...,NaN,C++,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021.0,575.0,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
new_df = new_df.drop(new_df.index[0])
new_df.head(5)

,Year,Duration (in seconds),Q1_What_is_your_age_(years)?,Q2_What_is_your_gender?,Q3_In_which_country_do_you_currently_reside?,Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?,Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired),Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?,Q7_Part_1_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Python,Q7_Part_2_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - R,...,Q7_Part_4_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C,Q7_Part_5_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C++,Q7_Part_6_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Java,Q7_Part_7_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Javascript,Q7_Part_8_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Julia,Q7_Part_9_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Swift,Q7_Part_10_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Bash,Q7_Part_11_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - MATLAB,Q7_Part_12_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - None,Q7_Part_13_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Other
1,2021.0,910.0,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021.0,784.0,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,NaN,NaN,...,C,C++,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021.0,924.0,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,NaN,...,NaN,C++,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021.0,575.0,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021.0,781.0,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,NaN,...,C,NaN,NaN,NaN,NaN,NaN,NaN,MATLAB,NaN,NaN

In [19]:
print("Q4 Education level unique values: ", new_df['Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?'].unique())

Q4 Education level unique values:  ['Bachelorâ€™s degree' 'Masterâ€™s degree' 'Doctoral degree'
 'I prefer not to answer'
 'Some college/university study without earning a bachelorâ€™s degree'
 'No formal education past high school' 'Professional doctorate'
 'Professional degree' nan "Bachelor's degree" "Master's degree"
 "Some college/university study without earning a bachelor's degree"
 'I did not complete any formal education past high school']

In [20]:
degree_mapping = {
    'Bachelorâ€™s degree': "Bachelor's degree",
    'Masterâ€™s degree': "Master's degree",
    'Some college/university study without earning a bachelorâ€™s degree': "Some college/university study without earning a bachelor's degree"
}

new_df['Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?'] = new_df['Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?'].replace(degree_mapping, regex=True)

print("Q4 Education level unique values after cleaning: ", new_df['Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?'].unique())

Q4 Education level unique values after cleaning:  ["Bachelor's degree" "Master's degree" 'Doctoral degree'
 'I prefer not to answer'
 "Some college/university study without earning a bachelor's degree"
 'No formal education past high school' 'Professional doctorate'
 'Professional degree' nan
 'I did not complete any formal education past high school']

In [21]:
new_df['Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?'].dropna()

1                                         Bachelor's degree
2                                           Master's degree
3                                           Master's degree
4                                           Doctoral degree
5                                           Doctoral degree
                                ...
106296                                    Bachelor's degree
106297                                      Master's degree
106298                                    Bachelor's degree
106300                               I prefer not to answer
106301    I did not complete any formal education past h...
Name: Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?, Length: 103318, dtype: object

step 3 - do categorical handling

In [22]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106301 entries, 1 to 106301
Data columns (total 21 columns):
 #   Column                                                                                                                 Non-Null Count   Dtype
---  ------                                                                                                                 --------------   -----
 0   Year                                                                                                                   106301 non-null  float64
 1   Duration (in seconds)                                                                                                  89585 non-null   float64
 2   Q1_What_is_your_age_(years)?                                                                                           105856 non-null  object
 3   Q2_What_is_your_gender?                                                                                                106206 non-null  object
 4   Q3_In_which_country_do_you_currently_reside?                                                                           106180 non-null  object
 5   Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?  103318 non-null  object
 6   Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired)                               99087 non-null   object
 7   Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?                                                   92785 non-null   object
 8   Q7_Part_1_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Python                           65942 non-null   object
 9   Q7_Part_2_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - R                                20884 non-null   object
 10  Q7_Part_3_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - SQL                              33090 non-null   object
 11  Q7_Part_4_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C                                9696 non-null    object
 12  Q7_Part_5_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C++                              11618 non-null   object
 13  Q7_Part_6_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Java                             14402 non-null   object
 14  Q7_Part_7_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Javascript                       12750 non-null   object
 15  Q7_Part_8_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Julia                            797 non-null     object
 16  Q7_Part_9_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Swift                            440 non-null     object
 17  Q7_Part_10_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Bash                            8737 non-null    object
 18  Q7_Part_11_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - MATLAB                          9320 non-null    object
 19  Q7_Part_12_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - None                            0 non-null       float64
 20  Q7_Part_13_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Other                           6292 non-null    object
dtypes: float64(3), object(18)
memory usage: 17.0+ MB

In [23]:
col_select_to_one_col = ['Q7_Part_1_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Python','Q7_Part_2_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - R','Q7_Part_3_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - SQL','Q7_Part_4_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C','Q7_Part_5_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C++','Q7_Part_6_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Java','Q7_Part_7_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Javascript','Q7_Part_8_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Julia','Q7_Part_9_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Swift','Q7_Part_10_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Bash','Q7_Part_11_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - MATLAB','Q7_Part_12_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - None','Q7_Part_13_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Other']
new_df['Q7_Programming_language_used_daily'] = new_df[col_select_to_one_col].apply(lambda x:x.dropna().iloc[0] if not x.dropna().empty else np.nan, axis=1)
new_df['Q7_Programming_language_used_daily'] = new_df['Q7_Programming_language_used_daily'].astype("category")

In [24]:
new_df.head(10)

,Year,Duration (in seconds),Q1_What_is_your_age_(years)?,Q2_What_is_your_gender?,Q3_In_which_country_do_you_currently_reside?,Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?,Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired),Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?,Q7_Part_1_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Python,Q7_Part_2_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - R,...,Q7_Part_5_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - C++,Q7_Part_6_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Java,Q7_Part_7_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Javascript,Q7_Part_8_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Julia,Q7_Part_9_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Swift,Q7_Part_10_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Bash,Q7_Part_11_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - MATLAB,Q7_Part_12_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - None,Q7_Part_13_What_programming_languages_do_you_use_on_a_regular_basis?_Selected_Choice - Other,Q7_Programming_language_used_daily
1,2021.0,910.0,50-54,Man,India,Bachelor's degree,Other,5-10 years,Python,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python
2,2021.0,784.0,50-54,Man,Indonesia,Master's degree,Program/Project Manager,20+ years,NaN,NaN,...,C++,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SQL
3,2021.0,924.0,22-24,Man,Pakistan,Master's degree,Software Engineer,1-3 years,Python,NaN,...,C++,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python
4,2021.0,575.0,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python
5,2021.0,781.0,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,MATLAB,NaN,NaN,Python
6,2021.0,1020.0,25-29,Woman,India,I prefer not to answer,Currently not employed,< 1 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python
7,2021.0,141.0,18-21,Woman,India,Some college/university study without earning ...,Student,1-3 years,NaN,NaN,...,C++,Java,Javascript,NaN,NaN,NaN,NaN,NaN,NaN,C++
8,2021.0,484.0,30-34,Man,India,Bachelor's degree,Data Scientist,5-10 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python
9,2021.0,1744.0,22-24,Man,Russia,Bachelor's degree,Currently not employed,3-5 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python
10,2021.0,655.0,30-34,Man,Turkey,I prefer not to answer,Other,1-3 years,Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python

In [25]:
remove_cols = col_select_to_one_col
removed_cols = [col for col in remove_cols if new_df[col].isnull().any()]
new_df = new_df.drop(columns=removed_cols)

In [26]:
new_df.head(6)

,Year,Duration (in seconds),Q1_What_is_your_age_(years)?,Q2_What_is_your_gender?,Q3_In_which_country_do_you_currently_reside?,Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?,Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired),Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?,Q7_Programming_language_used_daily
1,2021.0,910.0,50-54,Man,India,Bachelor's degree,Other,5-10 years,Python
2,2021.0,784.0,50-54,Man,Indonesia,Master's degree,Program/Project Manager,20+ years,SQL
3,2021.0,924.0,22-24,Man,Pakistan,Master's degree,Software Engineer,1-3 years,Python
4,2021.0,575.0,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python
5,2021.0,781.0,45-49,Man,India,Doctoral degree,Other,< 1 years,Python
6,2021.0,1020.0,25-29,Woman,India,I prefer not to answer,Currently not employed,< 1 years,Python

In [28]:
print("Q2 gender unique values: ", new_df['Q2_What_is_your_gender? '].unique())

Q2 gender unique values:  ['Man' 'Woman' 'Nonbinary' 'Prefer not to say' 'Prefer to self-describe'
 'Male' 'Female' 'Non-binary, genderqueer, or gender non-conforming'
 'A different identity' nan]

In [30]:
gender_mapping = {
    'Male': "Man",
    'Female': "Woman",
    'Nonbinary': "Non-binary, genderqueer, or gender non-conforming",
    'A different identity' : "Prefer not to say"
}

new_df['Q2_What_is_your_gender? '] = new_df['Q2_What_is_your_gender? '].replace(gender_mapping, regex=True)

print("Q2 gender unique values after cleaning: ", new_df['Q2_What_is_your_gender? '].unique())

Q2 gender unique values after cleaning:  ['Man' 'Woman' 'Non-binary, genderqueer, or gender non-conforming'
 'Prefer not to say' 'Prefer to self-describe' nan]

In [31]:
new_df['Q2_What_is_your_gender? '].dropna()

1           Man
2           Man
3           Man
4           Man
5           Man
          ...
106297    Woman
106298      Man
106299    Woman
106300    Woman
106301      Man
Name: Q2_What_is_your_gender? , Length: 106206, dtype: object

In [35]:
new_df.to_csv('final_data.csv', index=False)

In [37]:
new_df.dropna(inplace=True)
new_df.drop_duplicates(inplace=True)

In [38]:
new_df.isnull().sum()

Year                                                                                                                     0
Duration (in seconds)                                                                                                    0
Q1_What_is_your_age_(years)?                                                                                             0
Q2_What_is_your_gender?                                                                                                  0
Q3_In_which_country_do_you_currently_reside?                                                                             0
Q4_What_is_the_highest_level_of_formal _education_that_you_have_attained_or_plan_to_attain_within_the_next_ 2_ years?    0
Q5_Select_the_title_most_similar_to_your_current _role_(or_most_recent_title_if_retired)                                 0
Q6_For_how_many_years_have_you_been_writing_code_and/or_programming?                                                     0
Q7_Programming_language_used_daily                                                                                       0
dtype: int64

step 5 - extract sub dataset created for dashboarding